:root {
  /* Colours */
  --green: #4a594e;
  --red: #5f3232;
  --white: #ffffff;
  --black: #000000;

  /* Text */
  --h1: 'Oswald', sans-serif;
  --h2: 'Oswald', sans-serif;
  --h3: 'Roboto', sans-serif;
  --h4: 'Roboto', sans-serif;
  --p: 'Lato', sans-serif;

  /* Text Decoration */
  --border-black: 5px solid #000000;
  --border-white: 5px solid #ffffff;
  --b-link-border: 2px solid #000000;
  --w-link-border: 2px solid #ffffff;
}
