.about_main {
  min-height: 80vh;
}

.heading_wrapper {
  width: 80%;
  margin: auto;
}

.about_h1 {
  border: var(--border-black);
  text-align: center;

  width: fit-content;

  padding: 0.5vh 2vw;
  margin: 2vh 0vw;
}

.about_me_wrapper {
  background-color: var(--green);
}

.about_me_info {
  width: 80%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  margin-bottom: 1vh;
}

.about_me_info .about_me_heading {
  grid-column: 1/3;
  grid-row: 1/1;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.about_me_info .about_me_heading h2 {
  color: var(--white);
}

.lorem1 {
  grid-column: 1/3;
  grid-row: 2/2;

  margin-bottom: 2vh;
}

.lorem2 {
  grid-column: 1/3;
  grid-row: 3/3;
}

.lorem1,
.lorem2 {
  padding: 0vh 2vw 0vh 0vw;
}

.profile_pic {
  grid-column: 3/3;
  grid-row: 1/4;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.profile_pic img {
  height: 300px;
  border-radius: 50%;
  border: var(--border-white);
}

.about_me_socials {
  width: 80%;
  margin: 2vh 0% 0% 20%;

  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  min-height: 20vh;

  background-color: var(--green);
}

.about_me_socials i {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;

  color: var(--white);
  cursor: pointer;
}

.about_me_socials i:hover {
  padding-bottom: 1vh;
}

.about_me_socials h2 {
  color: var(--white);
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .about_me_info .about_me_heading {
    grid-column: 1/4;
  }

  .profile_pic img {
    height: 250px;
  }
}

@media screen and (max-width: 800px) {
  .profile_pic img {
    height: 225px;
  }
}

@media screen and (max-width: 700px) {
  .about_me_info {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.2fr 0.3fr 0.3fr;
  }

  .about_me_info .about_me_heading {
    margin: 2vh 0vw;
  }

  .lorem1 {
    grid-column: 1/3;
    grid-row: 3/3;

    margin: 2vh 0vw 0vh 0vw;
  }

  .lorem2 {
    grid-column: 1/3;
    grid-row: 4/4;

    margin: 0vh 0vw 4vh 0vw;
  }

  .profile_pic {
    grid-column: 1/3;
    grid-row: 2/2;
  }

  .profile_pic img {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .profile_pic img {
    height: 200px;
  }
}
