.contact_main {
  width: 100%;
  margin: auto;

  min-height: 80vh;
}

.contact_h1 {
  border: var(--border-black);
  text-align: center;

  width: fit-content;

  padding: 0.5vh 2vw;
  margin: 2vh 0vw;
}

.contact_form_wrapper {
  width: 90%;
  padding: 2vh 0vw;

  background-color: var(--green);
}

.contact_form_bkg {
  width: 88%;
  margin: 0% 12%;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.contact_form {
  grid-column: 1/1;

  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.contact_form label {
  margin: 1vh 0vw 0vh 0vw;
}
.contact_form input {
  margin: 1vh 0vw 0.5vh 0vw;
}

.contact_form input,
.contact_form button {
  padding: 1vh;

  width: 80%;
}

.contact_form button {
  margin: 2vh 0vw;
  padding: 2vh;

  border: var(--border-white);
  background-color: var(--green);
}

.continue span {
  margin: 2vh 0vw;
}

.continue:hover {
  box-shadow: -1px 6px 24px -6px rgba(255, 255, 255, 0.64);
  -webkit-box-shadow: -1px 6px 24px -6px rgba(255, 255, 255, 0.64);
  -moz-box-shadow: -1px 6px 24px -6px rgba(255, 255, 255, 0.64);

  cursor: pointer;
}

.contact_form .message_form {
  height: 2vh;
  margin-top: 0.5vh;
  padding-bottom: 15vh;

  text-align: left;
  border: var(--border-white);
  background-color: var(--white);
}

.contact_form .black_p {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.contact_form_img {
  grid-column: 2/2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact_form_bkg .contact_form_img img {
  height: 500px;
  width: 500px;
}

.contact_form_img h2,
.thank_you h2 {
  color: var(--white);
  font-size: 3rem;
}

@media screen and (max-width: 1200px) {
  .contact_form input,
  .contact_form button {
    width: 100%;
  }

  .contact_form_bkg .contact_form_img img {
    height: 450px;
    max-width: 450px;
  }
}

@media screen and (max-width: 1000px) {
  .contact_form_bkg .contact_form_img img {
    height: 400px;
    max-width: 400px;
  }
}

@media screen and (max-width: 870px) {
  .contact_main {
    margin: 100px 0px 0px 0px;
  }
}

@media screen and (max-width: 800px) {
  .contact_form_bkg .contact_form_img img {
    height: 350px;
    max-width: 350px;
  }
}

@media screen and (max-width: 700px) {
  .contact_form_bkg {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .contact_form {
    grid-column: 1/1;
    grid-row: 1/2;
  }

  .thank_you {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact_form input,
  .contact_form button {
    max-width: 90%;
  }

  .contact_form_img {
    grid-column: 1/1;
    grid-row: 2/2;
  }

  .contact_form_bkg .contact_form_img img {
    height: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .contact_form .black_p {
    font-size: 0.9rem;
  }

  .contact_form input,
  .contact_form button {
    max-width: 250px;
  }

  .contact_form_bkg .contact_form_img img {
    height: 250px;
    max-width: 250px;
  }

  .contact_form_img h2,
  .thank_you h2 {
    color: var(--white);
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  .contact_form input,
  .contact_form button {
    max-width: 225px;
  }
}
