header {
  grid-area: 'header';
}

.header_wrapper {
  width: 80%;
  height: 100px;
  margin: auto;
  padding: 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  position: relative;
}

.logo p {
  font-family: var(--h1);
  font-size: 3.5rem;
  color: var(--green);
  padding: 0px;
  margin: 0px;
}

.menu_wrapper {
  overflow: hidden;
}

.menu_wrapper ul {
  display: inline-flex;
  flex-direction: row;
}

.menu_wrapper ul li {
  list-style: none;

  color: var(--black);
  padding: 0px 15px;
}

.menu_wrapper ul li a {
  font-family: var(--p);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
}

.menu_wrapper ul li a:hover {
  border-bottom: var(--b-link-border);
  padding-bottom: 2px;
}

.menu_wrapper ul li .current {
  border-bottom: var(--b-link-border);
  padding-bottom: 2px;
}

#menu_toggle {
  display: none;
}

.menu_icon {
  display: none;
}

/* Responsive */

@media screen and (max-width: 870px) {
  main {
    margin: 100px 0px;
  }

  .header_wrapper {
    position: fixed;

    width: 100%;
    height: 100px;
    padding: 0vh 5vw;

    z-index: 99;

    background-color: rgba(255, 255, 255, 0.685);
  }

  .menu_wrapper {
    height: 100px;
    z-index: 99;

    width: 800%;
    margin: auto;
  }

  .menu_wrapper ul {
    padding-top: 4.9vh;

    display: inline-flex;
    flex-direction: column;

    max-height: 0;
    overflow: hidden;

    -webkit-transition: max-height 0.3s;
    transition: max-height 0.3s;

    position: absolute;

    top: 5vh;
    right: 0;
    width: 50%;

    text-align: center;
  }

  .menu_wrapper ul li {
    padding: 1.5vh;

    background-color: #4a594e9d;
    background-color: rgba(255, 255, 255, 0.685);
  }

  .menu_wrapper ul li a {
    color: var(--black);
    padding: 1.5vh 2vw;
  }

  .menu_wrapper ul li a:hover,
  .menu_wrapper ul li .current {
    border-bottom: var(--b-link-border);
  }

  .menu_icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
    cursor: pointer;
  }

  #menu_toggle:checked ~ ul {
    max-height: 350px;
  }

  .menu_icon i {
    height: 100px;
    width: 100px;

    padding: 0vh 4vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 2.5rem;
  }

  .logo p {
    font-size: 3.5rem;
  }
}
