* {
  box-sizing: border-box;
}

main {
  grid-area: 'main';

  display: grid;
  grid-template-areas:
    'intro'
    'featured'
    'next_up'
    'recent';
  padding: 0px;
  margin: 0px;
}

.intro {
  grid-area: intro;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;

  padding: 0px;
  margin: 0px;
}

.intro .bkg_color {
  height: 75vh;

  grid-column: 1/4;
  grid-row: 2/4;

  z-index: 1;

  background-color: var(--green);
}

/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
.intro .index_slider {
  grid-column: 1/4;
  grid-row: 2/4;

  width: 100%;
  margin: auto;

  z-index: 2;
  position: absolute;

  display: inline-flex;
  justify-content: center;
}

.slider_container {
  width: 80%;
  margin: auto;

  z-index: 3;
  position: absolute;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.slides {
  display: none;

  width: 100%;
  margin: auto;
}

.slides img {
  width: 100%;
  max-height: 70vh;

  border: var(--border-white);
}

.slider_container .controls {
  grid-column: 1/4;
  grid-row: 2/4;

  width: 99%;
  max-height: auto;

  position: absolute;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;

  z-index: 4;

  width: auto;
  padding: 15px;

  color: white;
  font-weight: bold;
  font-size: 1.5rem;

  transition: 0.5s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;

  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.previous {
  left: 0;
}

.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots {
  grid-column: 1/4;
  grid-row: 2/4;

  max-height: 70vh;
  bottom: 2%;

  position: absolute;

  display: flex;
  justify-content: end;
}

.dot {
  cursor: pointer;
  position: relative;

  height: 15px;
  width: 15px;

  margin: 0 15px;

  background-color: #ffffff4d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #000000;
}

.fade {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
/* Slider End */

/* About */

.intro .index_about {
  grid-column: 1/4;
  grid-row: 3/3;

  height: 100%;
  width: 80%;
  margin: auto;

  z-index: 5;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.index_about .index_pp {
  grid-row: 1/4;
  grid-column: 1/1;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.index_pp img {
  height: 300px;
  border-radius: 50%;
  border: var(--border-white);
}

.heading_1 {
  grid-row: 1/1;
  grid-column: 2/4;

  display: inline-flex;
  justify-content: start;
  align-items: center;
}

.index_desc {
  grid-row: 2/4;
  grid-column: 2/4;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.index_desc p {
  width: 90%;
  margin: right;

  display: inline-flex;
  justify-content: start;
  align-items: center;

  text-align: left;
}

.more_link {
  width: 90%;
  margin: right;

  text-align: right;
}

.more_link a {
  font-family: var(--p);
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;

  color: var(--white);

  border-bottom: var(--w-link-border);
  padding-bottom: 2px;
}

/* About End */

/* Featured Posts */

.featured_container {
  height: 60vh;
  width: 80%;
  margin: auto;

  z-index: 6;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.featured_card {
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: var(--border-black);
  padding: 5px;
}

.featured_container .featured_img {
  height: 250px;
  width: 350px;
}

.featured_card_info {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.featured_card_info p {
  font-family: var(--p);
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;

  color: var(--black);

  padding: 0px;
}

.more_button {
  border: var(--b-link-border);

  display: flex;
  justify-content: center;
}

.more_button a {
  font-family: var(--p);
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;

  color: var(--black);
}
