body {
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

h1 {
  font-family: var(--h1);
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;

  color: var(--white);
  border: var(--border-white);

  padding: 5px 15px;
}

h2 {
  font-family: var(--h2);
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;

  color: var(--black);

  padding: 0px;
  margin: 0px;
}

.white_p {
  font-family: var(--p);
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;

  color: var(--white);
}

.black_p {
  font-family: var(--p);
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;

  color: var(--black);
}
