/* General Laout */
body {
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

/* Text Styling */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-family: var(--h1);
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;

  color: var(--black);
  border: var(--border-black);

  padding: 0.5vh 2vw;

  text-align: center;
  margin: 0px;
}

h2 {
  font-family: var(--h2);
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;

  color: var(--black);

  padding: 0px;
  margin: 0px;
}

h3 {
  font-family: var(--h3);
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;

  color: var(--black);

  padding: 2vh 0vw;
  margin: 0px;
}

h4 {
  font-family: var(--h4);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: right;

  color: var(--black);

  padding: 2vh 0vw;
  margin: 0px;
}

.white_p {
  font-family: var(--p);
  font-size: 1.3rem;
  font-weight: 300;

  color: var(--white);
}

.black_p {
  font-family: var(--p);
  font-size: 1.2rem;
  font-weight: 400;

  color: var(--black);
}

.red_p {
  font-family: var(--p);
  font-size: 1.2rem;
  font-weight: 400;

  color: var(--red);
}

/* Errors & JS */
.hide {
  display: none;
}

.show {
  display: block;
}

.alert {
  width: 100%;
}

.danger {
  background-color: var(--red);
  color: var(--white);
  padding: 20px;
  transition: 2s;

  text-align: center;
}

/* Buttons */
.cta_btn1 {
  width: fit-content;
  background-color: var(--green);
  border-style: none;
  padding: 2vh 4vw;

  text-decoration: none;
}

.cta_btn1 span i {
  padding-left: 5px;
}

.cta_btn1 span:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1250px) {
  h1,
  .about_me_socials i {
    font-size: 2.9rem;
  }

  .loading {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  h1,
  .about_me_socials i {
    font-size: 2.7rem;
    padding: 0.3vh 1.8vw;
  }

  .white_p,
  .black_p {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 800px) {
  h1,
  .about_me_socials i {
    font-size: 2.2rem;
    padding: 0.3vh 1.8vw;
  }

  .white_p,
  .black_p {
    font-size: 1.1rem;
  }

  .loading img,
  .post_loading img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  h1,
  .about_me_socials i {
    font-size: 2rem;
    padding: 0.2vh 1.6vw;
  }

  h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 650px) {
  h1,
  .about_me_socials i {
    font-size: 1.8rem;
    padding: 0.2vh 1.6vw;
  }

  h2 {
    font-size: 1.6rem;
  }

  .white_p,
  .black_p,
  .contact_form .black_p {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  h1,
  .about_me_socials i {
    font-size: 1.6rem;
    padding: 0.2vh 1.6vw;
  }

  h2 {
    font-size: 1.4rem;
  }

  .white_p,
  .black_p,
  .contact_form .black_p {
    font-size: 0.9rem;
    word-wrap: break-word;
  }

  h3 {
    font-size: 1.1rem;
    padding: 1vh;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
    padding: 0.2vh 1.6vw;
  }

  h2 {
    font-size: 1.4rem;
  }

  .white_p,
  .black_p,
  .contact_form .black_p {
    font-size: 0.9rem;
    word-wrap: break-word;
  }
}
